// typography.scss                         styles/partials
/////////////////////////////////////////////////////////////////////////

// Header styles
h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font-family;
}

// Link styles
a {
  color: $link-color;
  text-decoration: none;
  transition: $link-transition;
  &:hover {
    color: darken($link-color, 10%);
  }
}
