// config-colors.scss      ~/styles/
/////////////////////////////////////////////////////////////////////

$black: #000000;
$mine: #333;
$bleu: #3498db;
$raven: #74808a;
$mercury :#e6e6e6;
$white: #ffffff;